* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}


.nwhe2ehd8293h2id298dh2 {
    padding: 0px 50px 0px 30px;
    height: 80px;

    align-items: center;
    justify-content: space-between;
    text-align: center;

    background: linear-gradient(-90deg, #032749, #00101f);

    color: white;
    cursor: pointer;

}

.logo {
    width: 120px;
    height: 10px;

    color: white;

}

.logo img {
    height: 70px;
    width: 60px;
    padding-top: 15px;

}




.nwhe2ehd8293h2id298dh2 ul {
    display: flex;
    list-style: none;
    padding: 20px 50px 0px 120px;
    transition: 0.3s ease;

}

.nwhe2ehd8293h2id298dh2 ul li a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-left: 80px;
    justify-content: space-between;
}

.class9english {
    padding-left: 220px;
    font-size: 40px;
}

.menubcjhewgywgdwuq {
    justify-content: right;
    justify-items: right;
}

nav .menubcjhewgywgdwuq i {
    cursor: pointer;
    display: none;
}


.dn43iuhr6gtt li a::after {
    content: "";
    position: absolute;
    background-color: rgb(231, 229, 229);
    height: 5px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.6s;
}

.dn43iuhr6gtt li a:hover::after {
    width: 100%;
}

.dn43iuhr6gtt li a:hover {
    color: greenyellow;
    font-size: 25px;
    text-decoration: none;
}

#click {
    display: none;
}

#click:checked~ul {
    left: 0%;
}



@media(max-width:450px) {
    nav .menubcjhewgywgdwuq i {
        padding-left: 290px;
    }
}


@media (max-width: 1100px) {



    nav .menubcjhewgywgdwuq i {
        display: block;
        padding-top: 20px;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #00101f;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    nav ul li {
        margin: 25px 0;
    }




}

@media (min-width: 768px) {
    .pt-md-5 {
        padding-top: 3rem !important;
    }

}

*,
::after,
::before {
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.mt-5 {
    margin-top: 3rem !important;
}
.font-fam-bold {
    font-family: Gilroy-Bold,sans-serif!important;
}
.text-center {
    text-align: center !important;
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.teacher {
    background: linear-gradient(87deg,#5a4bda,#eb427e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-fam-medium {
    font-family: Gilroy-Medium,sans-serif!important;
}
.learn-text-sm {
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0px;
    color: rgb(191, 191, 191);
}
.pt-5 {
    padding-top: 3rem !important;
}
.justify-content-center {
    justify-content: center !important;
}
.d-flex {
    display: flex !important;
}
@media (min-width: 768px){
.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.carousel {
    position: relative;
}
.carousel-inner {
    padding: 1em;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
:root[nighteye="active"] img {
    mix-blend-mode: unset !important;
    background-blend-mode: unset !important;
}

.img-slider-box {
    box-shadow: rgba(0, 0, 0, 0.043) 0px 25px 30px;
    background: no-repeat padding-box padding-box rgb(56, 63, 153);
    border-radius: 20px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img, svg {
    vertical-align: middle;
}















































































































































































































































































